<% nesting = local_assigns.fetch(:nesting, 1) %>
<% max_nesting = local_assigns[:max_nesting] %>
<% continue_thread = local_assigns[:continue_thread] %>
<%= tag.div id: dom_id(comment), class: 'border-left border-bottom border-top p-4 mb-4' do %>
  <%# <% if comment.deleted? %>
    <%# <strong>[deleted]</strong> posted
    <p>[deleted]</p> %>
  <%# <% else %>
    <strong><%= comment.user.name %></strong> <%= link_to 'posted', url_for(comment: comment.id, anchor: dom_id(comment)) %>
    <%= simple_format comment.body %>
  <%# <% end %>

  <div data-controller='reply'>
    <small>
      <%= link_to 'Reply', '#', data: { action: 'click->reply#toggle' } %>
      <%= link_to 'Delete', [comment.commentable, comment], method: :delete, data: { confirm: 'Are you sure?' } if comment.user == current_user %>
    </small>
    <%= render partial: "comments/form", locals: {
      commentable: comment.commentable,
      parent_id: reply_to_comment_id(comment, nesting, max_nesting),
      class: 'd-none',
      target: 'reply.form'
      } %>
  </div>

  <%# comments %>
  <%# comment_44_comments %>
  <%= tag.div id: "#{dom_id(comment)}_comments" do %>
    <% if continue_thread.present? && nesting >= continue_thread && comment.comments.any? %>
      <%= link_to 'Continue this thread', url_for(comment: comment.id, anchor: dom_id(comment)) %>
    <% end %>
      <%= render comment.comments, continue_thread: continue_thread, nesting: nesting + 1, max_nesting: local_assigns[:max_nesting] %>
      <%# where the js inserts %>
    <% end %>
  <% end %>
<% end %>
